@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    color: #1a1a1a;
    background-color: #f9f9f9;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style: none;
    background-color: #e5e5e5;
    gap: 1px;
    border-bottom: 1px solid #e5e5e5;
}

nav ul li {
    padding: 24px 10px;
    flex: 1;
    background-color: white;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav ul li:hover {
    background-color: #f0f0f0;
}

nav ul li:nth-child(6) {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;;
}

main {
    flex: 1;
}

.breadcrumbs {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 50px;
    text-transform: capitalize;
    color: #aaa;
    font-size: 16px;
}
.crumb:last-child {
    font-weight: bold;
    color: #1a1a1a;;
}

section {
    flex: 1;
    background-color: #e5e5e5;
    gap: 1px;
}

.image {
    background-image: url("https://fastly.picsum.photos/id/123/400/300.jpg?hmac=DQBlZ851fCvvZdDdgB0SrZntwWA3edivMzY6eMgf5GU");
    background-size: cover;
    background-position: center;
    flex: 1;
}

.info {
    flex: 1.3;
    gap: 1px;
}

.info-header {
    padding: 60px 80px;
    background-color: white;
    justify-content: center;
    flex: 1;
}

.category {
    font-size: 13px;
    font-weight: 600;
    color: #888;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.product-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

.add-to-cart {
    gap: 40px;
    align-items: center;
}

.quantity {
    gap: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid #e5e5e5;
    font-size: 20px;
    user-select: none;
}

.info-footer {
    flex: 1;
    gap: 1px;
}

.info-footer > div {
    background-color: white;
    flex: 1;
    padding: 60px;
}

.price {
    font-size: 32px;
}

.faq {
    justify-content: center;
}

.faq > div {
    padding: 20px 0;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
}




